body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* canvas,
.konvajs-content {
  width: 100% !important;
  height: auto !important;
} */

/* .card-preview .konvajs-content {
  width: 100% !important;
  height: auto !important;
  padding-bottom: 141.4%;
}

.card-preview .konvajs-content canvas {
  width: 100% !important;
  height: 100% !important;
} */
